.sidebar {
  background-color: #293b38;
  width: 240px;
  position: relative;
  margin: 0;
}
.sidebar-toggler{
  position: absolute;
  bottom: 0;
  left: 0;
}
.logo-place{
  height: 64px;
}
.logo{
  height: 64px;
  width: 64px;
}