.side-bar-visible {
    margin-left: 240px;
  }
  .side-bar-hiden {
    margin-left: 0px;
  }
  .side-bar {
    transition: margin-left 0.5s ease;
  }
  .app{
    position: absolute;
    width: 100%;
    background-color: #e8e9e5;
  }