.submit-button{
    background-color: #293b38;
    border-color: #293b38;
}
.add-photo-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-photo-button-div{
    width: 115px;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-image-button{
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-in-list{
    transition: transform 0.3s;
    cursor: pointer;
}
.image-in-list-div{
    width: 115px;
    position: relative;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 5px;
}