@media (max-width: 575.98px) {
  /**MAIN**/
 #main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/main-img1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .title-white {
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    width: 100%;
    font-size: 3em!important;
    text-align: center;
    font-weight: 600!important;
  }
  
  .text-white{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    width: 100%;
    font-size: 2em!important;
    text-align: center;
    font-weight: 400!important;
  }
  
  .to-projects-btn {
    background-color: #293b38 !important;
    border-color: #293b38 !important;
    width: 10em!important;
    margin-top: 10%;
    font-size: 1.1em!important;
  }

  /**ABOUT US**/
  #aboutUs {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E8E8;
  }
  .title-black {
    font-family: "Roboto", sans-serif!important;
    width: 100%;
    font-size: 3em!important;
    text-align: center;
    font-weight: 600!important;
  }
  .text-black{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    width: 100%;
    font-size: 1.5em!important;
    text-align: center;
    font-weight: 400!important;
  }
  .about-us-text, .image-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 90%;
   height: 30%;
  }
  .big-logo, .girl{
    width: 80%;
    height: 80%;
  }
 
  /**SERVICES**/
   #services {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: #FDF8EE;
  }
  .list-container{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
  }
  .list {
    width: 90%;
    margin-left: 10%;
  }
  .list .text-black{
    text-align: left;
  }
  .list-index-yellow {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1c376;
    margin-top: 50% !important;
  }
  
  /**PROJECTS**/
  #projects {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/main-img2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .ant-select-selection-item, .ant-select-arrow{
    color:white!important;
    font-size: 1.5em!important;
  }
  .slider-div {
    width: 90%;
    margin-top: 3%;
  }
  .slick-slide > div {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 0px;
  }
  
/**PRICING**/
 #pricing {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #E5E8E8;
}
#pricing .list-container .list{
  margin-left: 0%;
}
.list-index-green {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293b38;
  margin-top: 10% !important;
}
  
  /**CONTACTS**/
  #contacts {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/main-img3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .link {
   text-decoration: none;
   margin: 0.5%;
  }
  
  .link-text{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    font-size: 2em!important;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /**MAIN**/
  #main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/main-img1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .title-white {
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    width: 100%;
    font-size: 3em!important;
    text-align: center;
    font-weight: 600!important;
  }
  
  .text-white{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    width: 100%;
    font-size: 2em!important;
    text-align: center;
    font-weight: 400!important;
  }
  
  .to-projects-btn {
    background-color: #293b38 !important;
    border-color: #293b38 !important;
    width: 12em!important;
    margin-top: 10%;
    font-size: 1.3em!important;
  }

  /**ABOUT US**/
  #aboutUs {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E8E8;
  }
  .title-black {
    font-family: "Roboto", sans-serif!important;
    width: 100%;
    font-size: 3em!important;
    text-align: center;
    font-weight: 600!important;
  }
  .text-black{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    width: 100%;
    font-size: 2em!important;
    text-align: center;
    font-weight: 400!important;
  }
  .about-us-text, .image-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 90%;
  }
  .big-logo, .girl{
    width: 80%;
    height: 80%;
  }
  
  /**SERVICES**/
   #services {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: #FDF8EE;
  }
  .list-container{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
  }
  .list {
    width: 70%;
    margin-left: 10%;
  }
  .list .text-black{
    text-align: left;
  }
  .list-index-yellow {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1c376;
    margin-top: 50% !important;
  }
  
  /**PROJECTS**/
 #projects {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/main-img2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .ant-select-selection-item, .ant-select-arrow{
    color:white!important;
    font-size: 1.5em!important;
  }
  .slider-div {
    width: 90%;
    margin-top: 3%;
  }
  .slick-slide > div {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 0px;
  }
  
  /**PRICING**/
  #pricing {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E8E8;
  }
  #pricing .list-container .list{
    margin-left: 0%;
  }
  .list-index-green {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #293b38;
    margin-top: 10% !important;
  }
  
  /**CONTACTS**/
  #contacts {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/main-img3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .link {
   text-decoration: none;
   margin: 0.5%;
  }
  
  .link-text{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    font-size: 2em!important;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /**MAIN**/
  #main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/main-img1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .title-white {
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    width: 100%;
    font-size: 3em!important;
    text-align: center;
    font-weight: 600!important;
  }
  
  .text-white{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    width: 100%;
    font-size: 2em!important;
    text-align: center;
    font-weight: 400!important;
  }
  
  .to-projects-btn {
    background-color: #293b38 !important;
    border-color: #293b38 !important;
    width: 15em!important;
    height: 3em!important;
    margin-top: 10%;
    font-size: 1.2em!important;
  }

  /**ABOUT US**/
  #aboutUs {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E8E8;
  }
  .title-black {
    font-family: "Roboto", sans-serif!important;
    width: 100%;
    font-size: 3em!important;
    text-align: center;
    font-weight: 600!important;
  }
  .text-black{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    width: 100%;
    font-size: 2em!important;
    text-align: center;
    font-weight: 400!important;
  }
  .about-us-text, .image-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
  }
  .big-logo, .girl{
  width: 100%;
  height: 100%;
} 
  
/**SERVICES**/
#services {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  background-color: #FDF8EE;
}
.list-container{
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
}
.list {
  width: 70%;
  margin-left: 10%;
}
.list .text-black{
  text-align: left;
  font-size: 1.3em!important;
}
.list-index-yellow {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1c376;
  margin-top: 50% !important;
}
  
  /**PROJECTS**/
  #projects {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/main-img2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .ant-select-selection-item, .ant-select-arrow{
    color:white!important;
    font-size: 1.5em!important;
  }
  .slider-div {
    width: 90%;
    margin-top: 3%;
  }
  .slick-slide > div {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 0px;
  }
  
  /**PRICING**/
 #pricing {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E8E8;
  }
  #pricing .list-container .list{
    margin-left: 20%;
  }
  .list-index-green {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #293b38;
    margin-top: 10% !important;
  }
  
  /**CONTACTS**/
  #contacts {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/main-img3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .link {
   text-decoration: none;
   margin: 0.5%;
  }
  
  .link-text{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    font-size: 2em!important;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /**MAIN**/
  #main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/main-img1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .title-white {
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    width: 100%;
    font-size: 3em!important;
    text-align: center;
    font-weight: 600!important;
  }
  
  .text-white{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    width: 100%;
    font-size: 2em!important;
    text-align: center;
    font-weight: 400!important;
  }
  
  .to-projects-btn {
    background-color: #293b38 !important;
    border-color: #293b38 !important;
    width: 15em!important;
    height: 3em!important;
    margin-top: 10%;
  }

  /**ABOUT US**/
   #aboutUs {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #E5E8E8;
  }
  .title-black {
    font-family: "Roboto", sans-serif!important;
    width: 100%;
    font-size: 3em!important;
    text-align: center;
    font-weight: 600!important;
  }
  .text-black{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    width: 100%;
    font-size: 2em!important;
    text-align: center;
    font-weight: 400!important;
  }
  .about-us-text, .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0%!important;
   }
 .big-logo, .girl{
   width: 90%!important;
   height: 90%!important;
 }

  /**SERVICES**/
 #services {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: #FDF8EE;
  }
  .list-container{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
  }
  .list {
    width: 50%;
  }
  .list .text-black{
    text-align: left;
  }
  .list-index-yellow {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1c376;
    margin-top: 50% !important;
  }
  
  /**PROJECTS**/
 #projects {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/main-img2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .ant-select-selection-item, .ant-select-arrow{
    color:white!important;
    font-size: 1.5em!important;
  }
  .slider-div {
    width: 90%;
    margin-top: 3%;
  }
  .slick-slide > div {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 0px;
  }
  
/**PRICING**/
#pricing {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #E5E8E8;
}
#pricing .list-container{
  margin-left: 0%;
}
.list-index-green {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293b38;
  margin-top: 50% !important;
}
 
  /**CONTACTS**/
  #contacts {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/main-img3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .link {
   text-decoration: none;
   margin: 0.5%;
  }
  
  .link-text{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    font-size: 2em!important;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  /**MAIN**/
   #main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../images/main-img1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.title-white {
  font-family: "Roboto", sans-serif!important;
  color: white!important;
  width: 100%;
  font-size: 3em!important;
  text-align: center;
  font-weight: 600!important;
}

.text-white{
  font-family: "Roboto", sans-serif!important;
  color: white!important;
  width: 100%;
  font-size: 2em!important;
  text-align: center;
  font-weight: 400!important;
}

.to-projects-btn {
  background-color: #293b38 !important;
  border-color: #293b38 !important;
  width: 15em!important;
  height: 3em!important;
  margin-top: 10%;
}

  /**ABOUT US**/
  #aboutUs {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #E5E8E8;
  }
  .title-black {
    font-family: "Roboto", sans-serif!important;
    width: 100%;
    font-size: 3em!important;
    text-align: center;
    font-weight: 600!important;
  }
  .text-black{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    width: 100%;
    font-size: 2em!important;
    text-align: center;
    font-weight: 400!important;
  }
  .about-us-text, .image-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50%;
   margin: 0%!important;
  }
.big-logo, .girl{
  width: 90%!important;
  height: 90%!important;
}

  /**SERVICES**/
  #services {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #FDF8EE;
  }
  .list-container{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50%;
  }
  .list {
    width: 100%;
  }
  .list .text-black{
    text-align: left;
  }
  .list-index-yellow {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1c376;
    margin-top: 100% !important;
  }
  .image{
    width: 100%;
    height: 100%;
  }

  /**PROJECTS**/
  #projects {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/main-img2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .ant-select-selection-item, .ant-select-arrow{
    color:white!important;
    font-size: 1.5em!important;
  }
  .slider-div {
    width: 90%;
    margin-top: 3%;
  }
  .slick-slide > div {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 0px;
  }

  /**PRICING**/
  #pricing {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #E5E8E8;
  }
  #pricing .list-container{
    margin-left: 10%;
  }
  .list-index-green {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #293b38;
    margin-top: 50% !important;
  }
 
  /**CONTACTS**/
  #contacts {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/main-img3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .link {
   text-decoration: none;
   margin: 0.5%;
  }
  
  .link-text{
    font-family: "Roboto", sans-serif!important;
    color: white!important;
    font-size: 2em!important;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
