.header {
    padding: 0px;
    position:fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.1); 
    background-color: rgba(255, 255, 255, 0.9)!important;
    z-index: 999;
  }
  
  .menu {
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0)!important; 
  }
  
  .logo {
    padding: 0px;
    padding-left: 10%;
    border: none !important;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
  }
  
  .menu-item {
    text-decoration: none;
    color: black !important;
    padding: 10px 15px;
  }
  
  .menu-item:hover,
  .menu-item:first-child:first-child:first-child::after,
  .menu-item.selected {
    background-color: #293b38;
    color: white !important;
    border-radius: 5px;
  }
  
  .image {
    width: 20%;
    height: 20%;
  }
  
  .ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none !important;
  transition: none !important;
}