/**MAIN**/
#main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
}
.image-container {
  position: relative;
  width: 100%;
}
.main-text {
  width: 90%;
  display: flex;
  justify-content: right;
  flex-direction: column;
  position: absolute;
  text-align: right;
}
.main-titles {
  font-family: "Roboto", sans-serif;
}
.about-us {
  font-family: "Roboto", sans-serif;
}
.girl1 {
  width: 60%;
  height: 60%;
  margin-right: 30%;
}
.to-projects-btn {
  background-color: #293b38 !important;
  border-color: #293b38 !important;
  width: 10em;
  font-size: 1em !important;
}

/**ABOUT US**/
#aboutUs {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
}
.about-us-text {
  position: absolute;
  margin-left: 5%;
  width: 35%;
  text-align: justify;
}
.large-logo-image {
  width: 50%;
  height: 50%;
  margin-right: 5%;
}

/**SERVICES**/
#services {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
}
.services-list {
  position: absolute;
  margin-left: 60%;
  width: 30%;
}
.list-index-yellow {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1c376;
  margin-top: 100% !important;
}

/**PROJECTS**/
#projects {
  width: 100%;
  height: 100vh;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-div {
  width: 90%;
  margin-top: 5%;
}
.slick-slide > div {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 0px;
}
.title-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/**PRICING**/
#pricing {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
}
.prising-list {
  position: absolute;
  margin-left: 10%;
}
.image-container2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: right;
}
.girl3 {
  width: 60%;
  height: 60%;
}
.list-index-green {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293b38;
  margin-top: 50% !important;
}
/**CONTACTS**/
#contacts {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
}

.links-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: right;
  align-items: flex-end;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin: 10px;
}
.links {
  width: 90%;
  display: flex;
  justify-content: right;
  flex-direction: column;
  text-align: right;
}

@media (max-width: 575.98px) {
  /**MAIN**/
  #main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
  }
  .image-container {
    position: unset;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-text {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: unset;
    text-align: center;
  }
  .main-titles {
    font-family: "Roboto", sans-serif;
    text-align: center !important;
    width: 90%;
  }
  .girl1 {
    width: 100%;
    height: 100%;
    margin-right: 0%;
  }
  /**ABOUT US**/
  #aboutUs {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-us-text {
    position: unset;
    margin-left: 0%;
    width: 90%;
    text-align: justify;
  }
  .about-us {
    font-size: 1.5em !important;
  }
  .large-logo-image {
    width: 100%;
    height: 100%;
    margin-right: 0%;
  }
  /**SERVICES**/
  #services {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: right;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .services-list {
    width: 80%;
    margin-left: 0%;
    position: unset;
  }
  .list-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left !important;
  }
  /**PROJECTS**/
  #projects {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .slider-div {
    width: 80%;
    margin-top: 10%;
  }

  .ant-select-selection-item {
  font-size: 1.5em!important;
}

  /**PRICING**/
  #pricing {
    width: 100%;
    height: 100vh;
    padding-left: 0%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .image-container2 {
    position: unset;
    width: 100%;
  }
  .girl3 {
    width: 100%;
    height: 100%;
    margin-left: 0%;
  }
  .prising-list {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: unset;
    text-align: left;
  }
  /**CONTACTS**/
  #contacts {
    width: 100%;
    height: 100vh;
    padding-left: 0%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contacts-div {
    width: 100%;
    position: unset;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .links-text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: unset;
    text-align: center;
    align-items: center;
  }

  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 10px;
    justify-content: center;
    font-size: x-large !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /**MAIN**/
  #main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
  }
  .image-container {
    position: unset;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: unset;
    text-align: center;
  }
  .main-titles {
    font-family: "Roboto", sans-serif;
    text-align: center !important;
    width: 100%;
  }
  .girl1 {
    width: 100%;
    height: 100%;
    margin-right: 0%;
  }
  /**ABOUT US**/
  #aboutUs {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-us-text {
    position: unset;
    margin-left: 0%;
    width: 90%;
    text-align: justify;
  }
  .about-us {
    font-size: 1.7em !important;
  }
  .large-logo-image {
    width: 100%;
    height: 100%;
    margin-right: 0%;
  }
  /**SERVICES**/
  #services {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: right;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .services-list {
    width: 80%;
    margin-left: 0%;
    position: unset;
  }
  .list-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left !important;
  }
  /**PROJECTS**/
  #projects {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .slider-div {
    width: 80%;
    margin-top: 10%;
  }
  .ant-select-selection-item {
    font-size: 1.5em!important;
  }
  /**PRICING**/
  #pricing {
    width: 100%;
    height: 100vh;
    padding-left: 0%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .image-container2 {
    position: unset;
    width: 100%;
  }
  .girl3 {
    width: 100%;
    height: 100%;
    margin-left: 0%;
  }
  .prising-list {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: unset;
    text-align: left;
  }
  /**CONTACTS**/
  #contacts {
    width: 100%;
    height: 100vh;
    padding-left: 0%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contacts-div {
    width: 100%;
    position: unset;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .links-text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: unset;
    text-align: center;
    align-items: center;
  }

  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 10px;
    justify-content: center;
    font-size: x-large !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /**MAIN**/
  #main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
  }
  .image-container {
    position: unset;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: unset;
    text-align: center;
  }
  .main-titles {
    font-family: "Roboto", sans-serif;
    text-align: center !important;
    width: 100%;
    font-size: 3em !important;
  }
  .big-title {
    font-size: 2.5em !important;
  }
  .girl1 {
    width: 100%;
    height: 100%;
    margin-right: 0%;
  }
  .to-projects-btn {
    width: 12em;
    height: 2em;
    font-size: 1.3em !important;
  }
  /**ABOUT US**/
  #aboutUs {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-us-text {
    position: unset;
    margin-left: 0%;
    width: 90%;
    text-align: justify;
  }
  .about-us {
    font-size: 2em !important;
  }
  .large-logo-image {
    width: 100%;
    height: 100%;
    margin-right: 0%;
  }
  /**SERVICES**/
  #services {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: right;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .services-list {
    width: 80%;
    margin-left: 0%;
    position: unset;
  }
  .list-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left !important;
    font-size: 2.3em !important;
  }
  /**PROJECTS**/
  #projects {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .slider-div {
    width: 80%;
    margin-top: 10%;
  }
  .ant-select-selection-item {
    font-size: 1.5em!important;
  }
  /**PRICING**/
  #pricing {
    width: 100%;
    height: 100vh;
    padding-left: 0%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .image-container2 {
    position: unset;
    width: 100%;
  }
  .girl3 {
    width: 100%;
    height: 100%;
    margin-left: 0%;
  }
  .prising-list {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: unset;
    text-align: left;
  }
  /**CONTACTS**/
  #contacts {
    width: 100%;
    height: 100vh;
    padding-left: 0%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contacts-div {
    width: 100%;
    position: unset;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .links-text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: unset;
    text-align: center;
    align-items: center;
  }

  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 10px;
    justify-content: center;
    font-size: 2.3em !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /**MAIN**/
  #main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
  }
  .image-container {
    position: unset;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: unset;
    text-align: center;
  }
  .main-titles {
    font-family: "Roboto", sans-serif;
    text-align: center !important;
    width: 100%;
    margin: 0%;
    font-size: 3em !important;
  }
  .big-title {
    font-size: 2.5em !important;
  }
  .girl1 {
    width: 90%;
    height: 90%;
    margin-right: 0%;
  }
  .to-projects-btn {
    width: 12em;
    height: 2em;
    font-size: 1.3em !important;
  }
  /**ABOUT US**/
  #aboutUs {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-us-text {
    position: unset;
    margin: 0%;
    width: 90%;
    text-align: justify;
  }
  .about-us {
    font-size: 2em !important;
  }
  .large-logo-image {
    width: 80%;
    height: 80%;
    margin-right: 0%;
  }
  .image-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /**SERVICES**/
  #services {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: right;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .services-list {
    width: 80%;
    margin-left: 0%;
    position: unset;
  }
  .list-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left !important;
    font-size: 2.5em !important;
  }
  /**PROJECTS**/
  #projects {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .slider-div {
    width: 80%;
    margin-top: 10%;
  }
.ant-select-selection-item{

}
  /**PRICING**/
  #pricing {
    width: 100%;
    height: 100vh;
    padding-left: 0%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .image-container2 {
    position: unset;
    width: 100%;
  }
  .girl3 {
    width: 90%;
    height: 90%;
    margin-left: 0%;
  }
  .prising-list {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: unset;
    text-align: left;
  }
  /**CONTACTS**/
  #contacts {
    width: 100%;
    height: 100vh;
    padding-left: 0%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contacts-div {
    width: 100%;
    position: unset;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .links-text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: unset;
    text-align: center;
    align-items: center;
  }

  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 10px;
    justify-content: center;
    font-size: 2em !important;
  }
}

@media (min-width: 1200px) {
  /**MAIN**/
  #main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
  }
  .image-container {
    position: relative;
    width: 100%;
  }
  .main-text {
    width: 90%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    position: absolute;
    text-align: right;
  }
  .main-titles {
    font-family: "Roboto", sans-serif;
  }
  .about-us {
    font-family: "Roboto", sans-serif;
  }
  .girl1 {
    width: 60%;
    height: 60%;
    margin-right: 30%;
  }
  .to-projects-btn {
    background-color: #293b38 !important;
    border-color: #293b38 !important;
    width: 10em;
    font-size: 1em !important;
  }

  /**ABOUT US**/
  #aboutUs {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
  }
  .about-us-text {
    position: absolute;
    margin-left: 5%;
    width: 35%;
    text-align: justify;
  }
  .large-logo-image {
    width: 50%;
    height: 50%;
    margin-right: 5%;
  }

  /**SERVICES**/
  #services {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
  }
  .services-list {
    position: absolute;
    margin-left: 60%;
    width: 30%;
  }
  .list-index-yellow {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1c376;
    margin-top: 100% !important;
  }

  /**PROJECTS**/
  #projects {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .slider-div {
    width: 90%;
    margin-top: 5%;
  }
  .slick-slide > div {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 0px;
  }
  .title-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /**PRICING**/
  #pricing {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
  }
  .prising-list {
    position: absolute;
    margin-left: 10%;
  }
  .image-container2 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: right;
  }
  .girl3 {
    width: 60%;
    height: 60%;
  }
  .list-index-green {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #293b38;
    margin-top: 50% !important;
  }
  /**CONTACTS**/
  #contacts {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
  }

  .links-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: right;
    align-items: flex-end;
  }

  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 10px;
  }
  .links {
    width: 90%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    text-align: right;
  }
}
